.PcGlobal{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 30%;
  grid-template-rows: 40% 40% 20%; 
}

.PcMain{
  /* background-color: aquamarine; */
  background-image: url(img/box.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2/3;
  grid-row: 1/3;
  border: 2px solid black;
}

.PcAsside{
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
}

.PcAssideOne{
  /*background-color: #a00000;*/
  background-image: url(img/grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50%;
  color: aliceblue;
  border: 2px solid black;
}

.PcAssideTwo{
  /*background-color: #002cf1;*/
  background-image: url(img/arena.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 50%;
  border: 2px solid black;
}

.PcFooter{
  /*background-color: #b200b8;*/
  background-image: url(img/chta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/3;
  grid-row: 3/4;
  border: 2px solid black;
}

.imgsearchpoke{
  width: 100%;
  height: 100%;
}

.imgsearchpoke > img{
  width: auto;
  height: 100%;
}

.teams{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  align-items: center;
}


.team{
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  background-color: #b200b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ninja{
  display: none;
}

.styling{
  width: 70%;
  height: 70%;
  background-color: #a00000;
}

.styling > img{
  width: auto;
  height: 100%;
}